.collect-call
 background-color: #f1f0f5
 margin-top: 33px
 padding: 20px
 &__question

  p
   color: #1b1b1b
   font-size: 14px
   font-weight: 300
   padding: 0
   margin: 0
   b 
   	font-weight: 500
 &-btn
  &1
   margin-right: 50px
   background-color: #00647c
   color: #ffffff
   font-size: 12px
   font-weight: 400
   border-radius: 20px
  &1:hover
   background-color: lighten(#28b8bb, 5%)
    
  &2
   background-color: #28b8bb
   color: #ffffff
   font-size: 12px
   font-weight: 400
   border-radius: 20px
  &2:hover
   background-color: lighten(#28b8bb, 5%)
   
.ol-footer
 background-color: #4b4d5c
 padding-top: 20px
 line-height: 12px
 color: #ffffff
 font-size: 14px
 font-weight: 500
 
.coda
 background-color: #383944
 color: #ffffff
 font-size: 12px
 font-weight: 400
 padding-top: 16px

  

